* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: #000;
}

/* Navigation */
.navigation {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    margin: 0 30px;
    padding: 20px;
    align-items: center;
}

.brand {
    display: flex;
    align-items: center;
}

.brand-logo {
    width: 90px;
    height: 90px;
}

.brand h2 {
    letter-spacing: 3px;
    color: rgb(146, 81, 6);
}

.navigation-tag ul{
    display: grid;
    grid-template-columns: repeat(7,auto);
    justify-content: end;
    gap: 20px;
}

.navigation-tag ul li{
    list-style: none;
}

.navigation-tag ul li a{
    text-decoration: none;
    color: rgb(146, 81, 6);

    padding: 12px 0;
    font-size: 20px;
    cursor: pointer;
    background: transparent;
}
.navigation-tag .home-btn {
    padding: 15px 24px;
    border-radius: 4px;
    background-color: rgb(146, 81, 6);
    color: white;
    font-size: 15px;
    font-weight: 600;
}

.navigation-tag .home-btn:hover {
    background-color: #883f00;
    transform: translateY(-2px);
}

.nav-links {
    gap: 42px;
}

.nav-links a {
    position: relative;
    display: block;
    padding: 12px 0;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

.nav-links a:hover {
    color: #e3b17f;
}

/* About */
.about {
    display: grid;
    grid-template-columns: 1fr 0.95fr;
    margin: 50px;
    gap: 40px;
    max-width: 1350px;
    align-items: center;

}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.about-text {
    text-align: center;
    margin-bottom: 38px;
}

.about-text h4{
    display: block;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #78675b;
}
h1 {
    font-family: "Playfair Display", serif;
    font-size: clamp(45px, 5vw, 72px);
    line-height: 1;
    color: #1c1612;
    margin-bottom: 15px;
}

.about-text p{
    max-width: 650px;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.8;
    color: #6b4a2f;
    text-align: start;
    align-items: start;
    margin-left: 50px;
}

.icon {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 60px;
}

.icon-container {
    width: 30%;
    text-align: center;
}

.iconn {
    width: 100px;
    height: 100px;
    background-color: #f6f0e8;
    border-radius: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconn i{
    font-size: 40px;
    color: #4b2e1e;
}

.icon h4{
    margin: 20px 0 10px;
    font-size: 26px;
}

.icon p{
    color: #666;
    line-height: 1.8;
}

.img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 20px;
    gap: 20px;
    object-fit: cover;
    margin-top: 20px;
    width: 100%;
}

.about-img img{
    width: 100%;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
}

.about-text span{
    font-size: 2.6rem;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
    color: #e0a886;
    margin: 60px;
}


.features {
    width: 90%;
    margin: 80px 80px;
    padding: 30px;
    background-color: #f8ece0;
    border-radius: 12px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.feature-box {
    display: flex;
    align-items: center;
    gap: 18px;
    padding: 20px;
    border-right: 1px solid #ddd;
}

.features :last-child{
    border-right: none;
}


.text h2{
    font-size: 2.6rem;
    margin-bottom: 8px;
    color: #222;
}

.text p{
    font-size: 1.5rem;
    line-height: 1.6;
    color: #666;
}



.footer {
    background-color: #5e341a;
    color: white;
}

.footer-text {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin: 50px;
}

.footer1 h4{
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.footer1 span{
    font-size: 1.14rem;
    color: #e0a886;
}

.footer1 p{
    font-size: auto;
    margin-top: 20px;
    color: white;
}


.footer2 h4 {
    font-size: 1.3rem;
    margin-bottom: 20px;
}


.footer2 li{
    margin-bottom: 12px;
    list-style: none;
}

.footer2 a{
    color: #e8dddd;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s ease;
}

.footer2 a::before{
    /* content: ">"; */
    margin-right: 9px;
    color: #d7a06c;
    font-size: 20px;
}

.footer2 a:hover{
    color: #d7a06c;
    padding-left: 7px;
}

.footer3 h4{
    font-size: 1.3rem;
    margin-bottom: 12px;
}

.footer3 i{
    margin-bottom: 10px;
    font-size: 16px;
}

.footer3 p{
    margin-bottom:10px ;
}


.footer4 h4{
    font-size: 1.3rem;
    margin-bottom: 12px;
}

.footer4 p{
    font-size: 1.13rem;
    margin-bottom: 20px;
}
.footer4 span{
    font-size: 2rem;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
    color: #e0a886;
}


.footer-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.3rem;
}

.footer-title span{
    color:#e0a886 ;
}

.footer-title p{
    margin: 10px;
}

.dev{
    color: #e0a886;
    text-decoration: none;
}


/* Menu */
.menu-title h1{
    font-size: 2.5rem;
    margin-left: 10px;
    text-transform: uppercase;
    color: #5e341a;
    font-family: "Concert One", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.menu-title p{
    margin-left: 10px;
    font-size: 1.5rem;
    letter-spacing: 1px;
    margin-bottom: 40px;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}

.menu-nav{
    width: 90%;
    margin: 80px 80px;
    padding: 20px;
    background-color: #4d2a07;
    border-radius: 25px;
}

.menu-nav ul{
    display: flex;
    /* grid-template-columns: repeat(4,auto); */
    justify-content: flex-end;
    gap: 30px;
}
.menu-nav ul li{
    list-style: none;
}

.menu-nav ul li a{
    text-decoration: none;
    color: #d7a06c;

    padding: 12px 0;
    font-size: 25px;
    cursor: pointer;
    background: transparent;
    text-transform: uppercase;
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.menu-nav ul li a:hover {
    color: white;
}